
h1 {
    /*font-size: 60px;*/
    color: white;
}

body {
    background-image: url('../images/dashboard-background.png');
    background-size: cover;
}

#txt {
    color:white
}

.whitetext {
    color: white !important;
}

/*.active {
    font-size: larger;
}*/
