
h1 {
    /*font-size: 60px;*/
    color: white;
}

body {
    background-image: url('../images/dashboard-background.png');
    background-size: cover;
}

#txt {
    color:white
}

.whitetext {
    color: white !important;
}

.transbox {
    background-color: #000000;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
