
/*.container-background{

    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 15px -4px rgba(31, 73, 125, 0.8);;

}*/

h1 {
    /*font-size: 60px;*/
    color: white;
}

body {
    background-image: url('../images/dashboard-background.png');
    background-size: cover;
}

#txt {
    color:white
}

.whitetext {
    color: white !important;
}

.transbox {
    background-color: #000000;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
