/* general rules */
h1, h2, h3, h4, h5, h6, p, span, a {
  color: white;
}

h1 {
  font-size: 60px;
}

body {
  overflow-x: hidden;
}

html * {
   font-family: Lato, sans-serif;
}

a:hover {
  color: white;
}

/* BUTTON THINGS */
.standard-btn {
  border-width: 2px;
  border-style: solid;
  border-color: white;
  color: #ffffff;
  font-size: 20px;
  color: white;
  background: transparent;
  padding: 13px 25px 13px 25px;
  text-decoration: none;

  width:150px;
  display:inline-block;
  overflow: auto;
  white-space: nowrap;
  margin:0px auto;
  border:1px white solid;
}

.standard-btn:hover {
  text-decoration: none;
}


/* custom for landing page */
.initial-screen {
  height: 100vh;
  width: 100vw;
  background-image: url('../images/landing-background.jpg');
  background-size: cover;
}

.bottom-part {
  height: 80vh;
  width: 100vw;
  background-image: url('../images/landing-background.jpg');
  background-size: cover;
}

.middle-bar-section {
  height: 20vh;
  width: 100vw;
  background-color: #c9c9c9;
}

.middle-bar-section-text {
  margin: 0px 0px 0px 0px;
  text-align: center;
}

.signup-container {
  text-align: center;
}

.intro-p {
    font-size: 20px;
    margin-top: -20px;
}

