/* general rules */
h1, h2, h3, h4, h5, h6, p, span, a {
  color: white;
}

h1 {
  font-size: 60px;
}

body {
  overflow-x: hidden;
}

html * {
   font-family: Lato, sans-serif;
}

a:hover {
  color: white;
}

/* BUTTON THINGS */
.standard-btn {
  border-width: 2px;
  border-style: solid;
  border-color: white;
  color: #ffffff;
  font-size: 20px;
  color: white;
  background: transparent;
  padding: 13px 25px 13px 25px;
  text-decoration: none;
  text-align: center;

  width:150px;
  display:inline-block;
  overflow: auto;
  white-space: nowrap;
  margin:0px auto;
  border:1px white solid;
}

.standard-btn-small {
  width: 90px;
  padding: 6px 25px 6px 25px;
  font-size: 13px;
  overflow: hidden;
}

.standard-btn:hover {
  text-decoration: none;
}

/*----------custom for landing page----------*/

.initial-screen {
  height: 100vh;
  width: 100vw;
  background-image: url('../images/landing-background.jpg');
  background-size: cover;
}

.signup-container {
  text-align: center;
  padding-top: 30vh;
}

.initial-screen-bottom-links {
  padding-top: 290px;
  text-align: center;
}


.middle-bar-section {
  height: 20vh;
  width: 100vw;
  background-color: #9ad3de;
  padding-top: 60px;
}


.initial-screen-bottom-links-buttons{
  margin-right: 20px;
  margin-left: 20px;
}

.middle-bar-section-text {
  margin: 0px 0px 0px 0px;
  text-align: center;
}



.bottom-part {
  height: 80vh;
  width: 100vw;
  background-image: url('../images/landing-background-2.jpg');
  background-size: cover;
}


/* grey bar on top of landing page including login form */
.top-bar-section{
    height: 15vh;
    width: 100vw;
    background-color: #c9c9c9;
    /*padding-top: 0px;*/
}

.form-label{
    width: 200px; float: left; margin: 0 20px 0 0;
}
.form-span{
    display: block; margin: 0 0 3px; font-size: 1.2em; font-weight: bold;
}
.form-input{
    width: 200px; border: 1px solid #000; padding: 5px;
}
.form-button{
    margin: 100px;
}

.form-container{
    width:500px;
    margin-left: auto;

}

.longin-section-text{
    color: #FFFFFF;
}
/* end of top bar */
