html *
{
   font-family: Lato, sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

/* Begin: Changes made by William Huang 2/7/15 */
/*
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}*/
/* These are global changes applied to every page that is linked to this stylesheet */
/* End: Changes made by William Huang 2/7/15 */

/* shared class written to be shared across checkin and done page */
.header {
	text-align:center;
	margin-top: 70px;
  font-weight: bold;
}

/* shared class written to be shared across checkin and done page */
.checkinphoto {
	display:block;
  width:500px;
  height: 200px;
	margin-left: auto;
	margin-right:auto;
  margin-bottom: 60px;
	margin-top:2em;
  z-index: 5;
}

.checkinbutton {
	margin-top:2em;
	width:180px;
	height:40px;
  margin-bottom: 20px;
  border-radius: 4px;
  z-index: 5;
}

.customBG {
  width: 100%;
  height: auto;
   background: url(/images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  z-index: -10;

}

.container-checkin {
  margin-top: 100px;
  border-radius: 4px;
  background: rgba(250,250,250,.5);
  z-index: 1;
}

.container-customize {
  margin-left: -7%;
}

.btn-block{
  margin-bottom: 10px;
}

/* Sabryna's navbar changes */
.navbar-custom {
    background-color:#42444f;
    border-radius:0;

}
.navbar-custom .navbar-brand {
    color: #EAEAEB;
}

.progress-bar-title {
  margin-top: 70px;
  text-align: left;
  margin-left: 10px;
}

.progress-bar-title2 {
  text-align: left;
  margin-left: 10px;
}
/********************* NavBar CSS **************************/
/*
    Editing Bootstrap navbar colors is very hacky.
*/

.navbar-default {
  background-color: #42444f;
  border-color: #42444f;
}
.navbar-default .navbar-brand {
  color: #999999;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #999999;
}
.navbar-default .navbar-nav > li > a {
  color: #999999;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #42444f;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #42444f;
}
.navbar-default .navbar-toggle {
  border-color: #42444f;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #42444f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #999999;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #999999;
}
.navbar-default .navbar-link {
  color: #999999;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #999999;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #42444f;
  }
}

#company-logo {
  margin-left: 50px;
  color: #ffffff;
}

#login-btn-navbar {
  margin-top: 8px;
  margin-right: 100px;
  margin-left: 15px;
}
/***********************************************/

/********************* Landing Page **************************/

.custom-button {
  background-color: #21ca6b;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  border-radius: 4px; /* Overrides bootstrap rounded corners*/
  border-color: #21ca6b;
  width: 100px;
}

.custom-button:visited, .custom-button:link, .btn:visited, .btn:link {
    color: #ffffff;
}

.custom-button:hover {
  background-color: #1eb962;
  color: #ffffff;
}

/* Made navbar static so need to push container down*/
.container-margin {
  margin-top: 100px;
  margin-bottom: 20px;
  width: 90%;
  height: auto;
  border-radius: 4px;
  background: rgba(250,250,250,.5);
  z-index: 1;
}

#first-section {
  background-color: #999999;
  height: 70vh;
  padding-top: 160px;
}

#intro {
  width: 40%;
  margin-left: 130px;
  margin-top: -20px;
}

#intro-image {
    margin-left: 100px;
    margin-top: -60px;
}

#second-section {
  margin-bottom: 50px;
}

.testimonial {
  margin: 50px auto;
  background: #42444F;
  padding: 20px 30px;
  color: #ffffff;
  font-style: italic;
  width: 70%;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #42444F;
  margin-top: -50px;
  margin-left: 140px;
}

.testimonial-author {
  margin: 10px 0 0 120px;
  font-family: Arial, Helvetica, sans-serif;
  color: #999999;
  text-align:left;
}

.testimonial-grey {
  background: #eceef0;
  color: #42444F;
}

.arrow-down-grey {
  border-top: 15px solid #eceef0;
}

.testimonial-author {
    font-size: 12px;
    color: #666666;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #42444f;
}

.footer-links {
  margin-top: 40px;
}

a:link {
  color: #999999;
}

a:visited {
  color: #999999;
}

a:hover {
  color: #ffffff;
}

/***********************************************/

/********************* Registration Page **************************/

.regis {
  display: block;
  margin-bottom: 30px;
  margin-top: 20px;
  height: 50px;
  width: 300px;
}

.custom-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#regis-container {
  margin-top: 20px;
  margin-bottom: 150px;
}

#form-separator {
  border-right: 2px solid;
  border-color: #999999;
}
/***********************************************/


/************* Add Employees Page *************/
.add-email {
  display: block;
  height: 50px;
  width: 300px;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 25px;
  text-align: center;
}

.subtitle {
  color: #808080;
}

.table.registeredTable {
  font-size:11px;
  color:#333333;
  border-width: 1px solid #999;
  border-color: #666666;
  border-collapse: collapse;
  text-align: center;
}

.table.notRegisteredTable {
  font-size:11px;
  color:#333333;
  border-width: 1px solid #999;
  border-color: #666666;
  border-collapse: collapse;
  text-align: center;
}

.tableheader {
  position: relative;
  top: 50px;
}

.tablecontainer {
  position: relative;
}

.tablewidth {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.outerAlign {
  position: relative;
  text-align: center;
}



/**********************************************/


.nav-wizard-margins {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.innerInfo {
  margin-left: 10px;
  margin-right: 10px;
}

.bottomInfo {
  margin-bottom: 20px;
}

#disclosure-text {
  overflow-y: scroll;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#sigImg {
  margin-top: 20px;
  margin-bottom: 20px;
}


/************* Nav Bar Secondary *************/

.navbar-padding {
  padding-right: 100px;
}

.container-margin-secondary {
  margin-top: 120px;
}

/* For pages without the secondary nav bar */
.container-margin-no-secondary {
  margin-top: 80px;
}

.navbar-secondary {
  height: 50px;
  margin-top: 50px;
  padding-left: 100px;
  background-color: #555765;}

.navbar-tabs ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-top: 12px;
}

.navbar-tabs ul li {
  display: inline;
}

.navbar-tabs ul li a {
  text-decoration: none;
  padding-left: 60px;
}

.navbar-default .navbar-tabs ul > .active > a, .navbar-default .navbar-tabs ul > .active > a:hover, .navbar-default .navbar-tabs ul > .active > a:focus {
  color: #ffffff;
  background-color: #555765;
}

/**********************************************/

/*************** Dashboard Page ***************/

#currentDate {
  text-align: center;
}

/**********************************************/

/************* Employee Register Page *************/
.password{
  padding-left: 100px;
  padding-top:15px;
}

.employee-submit{
  margin-right: 40%;
}

.employee-register-pic{
  margin-top: -15%;
}


/**************************************************/


/*************** Upload Logo Page ***************/

.uploadFormCenterHack {
  margin-left: 500px;
}

/**********************************************/

/**** Styling for viewform page ***/
.form-response-label {
    text-align: right;
    font-weight: bold;
    max-width: 150px;
}

.form-response {
    padding-left: 10px;
    max-width: 450px;
}

.form-response-header {
    max-width: 600px;
}
/**********************************************/

/*************** Form Builder ***************/
.toolbar-bgcolor {
  background-color: #42444f;
}

#formContent {
  padding-left: 50px;
  padding-right: 100px;
  padding-bottom: 50px;
}

.previewForm {
  margin-bottom: 15px;
}

.fieldwrapper {
  margin-bottom: 15px;
}

.add {
  margin-top: 10px;
}

.remove {
  width: 40px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.container-preview {
  margin-top: 100px;
  margin-left: -7%;
  border-radius: 4px;
  padding: 10px;
  background: rgba(250,250,250,.5);
  z-index: 1;
}

.sidebar-nav {
  color: #fff;
  margin-right: 10px;
}

.preview-nav {
  margin-left: 70px;
}


/********************************************/